<!DOCTYPE html>
<html lang="pt-br">

  <% include shared/header.ejs %>

  <body>
    <!-- Navbar -->
    <% include shared/navbarProfile.ejs %>

    <!-- Content -->
    <section id="texto-intro">
      <div class="container col-md-6 text-center">
        <p class="lead">
          Edite sua tarefa!
        </p>
      </div>
    </section>
    <section id="formulario">
      <div class="container text-left col-md-6">
        <form id="createTaskForm" data-taskid="<%= task.id_task %>">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Título da tarefa" value="<%= task.title %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-3">
                <input type="text" class="form-control" id="inputPrice" name="inputPrice" placeholder="$$$" data-inputmask-placeholder="" data-inputmask-regex="^\d+(?:,\d{1,2})?$" data-value="<%= task.value %>">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="inputDeadline" name="inputDeadline" placeholder="Prazo" data-inputmask-mask="99/99/9999" data-value="<%= task.due_date %>">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <select class="form-control" name="taskType" id="taskType" data-value="<%= task.id_task_type %>"></select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <span class="row">
              <div class="col">
                <textarea class="form-control" id="inputDescription" name="inputDescription" placeholder="Descrição da tarefa" rows="3" maxlength="8000"><%= task.description %></textarea>
              </div>
            </span>
          </div>
          <!-- <div class="form-group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="inputCEP" data-inputmask-mask="99999-999" placeholder="CEP" maxlength="9">
              </div>
            </div>
          </div> -->
          <button type="submit" class="btn btn-primary buttonSubmit pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
        </form>
      </div>
      <br/><br/>
    </section>

    <!-- Footer -->
    <% include shared/footerProfile.ejs %>

  </body>
</html>
