<!DOCTYPE html>
<html lang="pt-br">

    <% include shared/header.ejs %>

    <body>
        <!-- Navbar -->
        <% include shared/navbarProfile.ejs %>

        <div class="container-fluid mt-5">
            <!-- Header -->
            <header class="row">
                <div class="row mx-auto">
                    <div class="mx-auto">
                        <span class="service-icon-user rounded-circle text-center">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="mx-auto text-center">
                        <h2><%= (locals.result || {}).name || "Anônimo" %></h2>
                        <div class="rateStars">
                            <% for (var i = 0; i < 5; i++) {
                                %><i class="fa fa-2x fa-star-o" aria-hidden="true"></i><%
                            } %>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Tarefas Solicitadas -->
            <section class="row mt-5">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div>
                        <h3>Tarefas solicitadas "sem dono"</h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 openTaskBox">
                            <h4>Título</h4>
                            <hr />
                            <div id="openTaskPersonal">
                                <% for (var task of openTasks) { %>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="col-sm-12">
                                                <div><b><%= (task.title || "") %></b></div>
                                                <div><p>Para terminar em: <span class="task-duedate" data-value="<%= (task.due_date || "") %>"></span></p></div>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="col-sm-2 task-value" data-value="<%= (task.value || 0) %>"></span>
                                                <span class="col-sm-10"><%= (task.description || "") %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="pull-right">
                                                <div style="margin-bottom:10px;">
                                                    <% if (isMyProfile) { %>
                                                        <span class="btn-group pull-right">
                                                            <a href="/task/edit/<%= (task.id_task || 0) %>" class="btn button btnEdit">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </a>
                                                            <a href="javascript:void(0)" class="btn button btnErase">
                                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                            </a>
                                                        </span>
                                                    <% } else { %>
                                                        <button type="button" data-taskid="<%= (task.id_task || 0) %>" class="btn btn-success cursor-pointer btnAcceptTask"><i class="fa fa-check" aria-hidden="true"></i> Eu faço!</button>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </section>

            <!-- Tarefas Concluídas -->
            <section class="row mt-5">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div>
                        <h3>Tarefas concluídas por <%= (locals.result || {}).name || "Anônimo" %></h3>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 openTaskBox">
                            <h4>Título</h4>
                            <hr />
                            <div id="closedTaskPersonal">
                                <% for (var task of finishedTasks) { %>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="col-sm-12">
                                                <div><b><%= (task.title || "") %></b></div>
                                                <div><p>Para terminar em: <span class="task-duedate" data-value="<%= (task.due_date || "") %>"></span></p></div>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="col-sm-2 task-value" data-value="<%= (task.value || 0) %>"></span>
                                                <span class="col-sm-10"><%= (task.description || "") %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-center">
                                            <div class="row">
                                                <a class="mx-auto userProfileHyperlink" href="/user/<%= (task.id_user_owner || 0) %>">
                                                    <!-- <span class='service-icon rounded-circle text-center'>
                                                        <i class='fa fa-user' aria-hidden='true'></i>
                                                    </span> -->
                                                    <img class="service-icon rounded-circle" src="/img/baby-groot.jpg">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </section>
        </div>

        <!-- Footer -->
        <% include shared/footer.ejs %>

    </body>

</html>